#root {
  /*max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;*/
}

.bg-custom-green{
  background-color: #008239;
}

.diagonal-split {
  background: linear-gradient(130deg, #008239 30%, #1058a5 30%);
}

.diagonal-split-gray {
  background: linear-gradient(130deg, #e8e8e8 83%, #ffffff 10%);
}

.whatsapp-icon{
  width: 70px;
}

.whatsapp-icon {
  position: fixed;
  top: 360px;
  right: 10px;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}